* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    
}

header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 5px;
    height: 100px;
}

header h1 {
    color: #F9FAF8;
    font-size: 24px;
    margin-left: 200px;
    font-weight: bold;
}

nav ul {
    display:flex;
    gap: 40px;
    list-style: none;
    margin-right: 200px;
}

nav ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #F9FAF8;
    cursor: pointer;
}

nav ul li:hover {
    text-decoration: underline;
    
}

.hero-section {
    display:flex;
    background-color: #1F2937;
    padding: 90px 0;
    min-height: 400px;
    gap: 200px;
}

.hero-content {
    max-width: 500px;
    margin-left: 200px;
}

.hero-content h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
    line-height: 1.1;
}

.hero-content p {
    color: #E5E7EB;
    font-size: 18px;
    margin-bottom: 30px;
}

.hero-content button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 8px;
    padding: 12px 40px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s;
}

.hero-content button:hover {
    background-color: #2563EB;
}

.image-placeholder {
    margin-left: 310px;
}


.hero-image .image-placeholder {
    width: 500px;
    height: 240px;
    background-color: #6B7280;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border-radius: 8px;
    text-align: center;
}

.info-section {
    background: #FFFFFF;
    padding: 100px 40px;
    text-align: center;
}

.info-section h2 {
    color: #23293a;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 40px;
    letter-spacing: 1px;
}

.info-cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
}

.info-img {
    width: 150px;
    height: 150px;
    border: 4px solid #6387f6;
    border-radius: 16px;
    margin-bottom: 16px;
    background: none;
}

.info-card p {
    color: #6B7280;
    font-size: 18px;
    margin: 0;
    line-height: 1.2;
}



.testimonial-section {
    background: #E5E7EB;
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial-quote {
    max-width: 900px;
    margin: 0 auto;
    text-align: left;
}

.testimonial-quote p {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 30px;
}